%button-base {
	width: 25%;
	font-family: $header-font;
}

.button {
	@extend %button-base;

	&-success {
		background: alert(success);
	}

	&-error {
		background: alert(error);
	}

	&-alert {
		background: alert(alert);
	}
}